<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <header>
            <div class="row">
              <h3>
                    Utils
                </h3>
            </div>
    </header>
    <div class="row">
    <input type="text" class="add__description" placeholder="Add description">
  </div>
  <div class="row">
    <input type="submit" class="Submit" value="Submit">
  </div>
  <div class="result" id="result">
    <h4>Result: </h4><p class="upper"></p>
  </div>

    <footer>
            <div class="row">
              <p>
                    Copyright. All Rights reserved.
                </p>
            </div>
    </footer>
    </body>
    <script src="app.js"></script>
</html>
